pre code {
	display: block;
}

a i {
	pointer-events: none;
}

label.btn [type=file] {
	display: none;
}

table.table.data > thead > tr > th {
	font-weight: 700;
}

.alert > *:first-child {
	margin-top: unset;
}

.alert > *:last-child {
	margin-bottom: unset;
}

.fancybox-button {
	background: rgba(30, 30, 30, .6) !important;
	border: unset !important;
}

#uploader {
	margin-bottom: 1rem;
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}

#p_uploads {
	width: 100%;
	&:empty {
		display: none;
		~ a.btn {
			display: none;
		}
	}
}

#ManageFiles {

	@import "../bower_components/bootstrap/less/variables.less";
	@import "../bower_components/bootstrap/less/glyphicons.less";

	.glyphicon-chevron {
		&-before {
			&::before {
				content: "\e257\e257";
			}
		}
		&-after {
			&::before {
				content: "\e258\e258";
			}
		}
	}

	.btn:not(:disabled) {
		cursor: pointer;
	}

	> .alert:empty {
		display: none;
	}

	table.table {
		td {
			&:first-child {
				> span {
					font-family: 'JetBrains Mono', monospace, 'Consolas', sans-serif;
					white-space: pre;
				}
			}
			font-family: 'JetBrains Mono', monospace, 'Consolas', sans-serif;
		}
	}
}

div.dt-container {
	div.dt-layout-row {
		width: 100% !important;
		flex: 1 0 auto;
		margin-top: 1em !important;
		margin-bottom: 1em !important;
	}
}

.dt {
	&-layout {
		&-start {
			.dt {
				&-length,
				&-search {
					display: flex;
				}
			}
		}
	}
	&-paging {
		&-button {
			&, * {
				font-weight: 700;
			}
		}
	}

}

.developer_food {
	background-color: #fafafa;
	color: #444;
	position: sticky;
	bottom: 0;
	background: white;
	z-index: 200;
	margin-top: 1em;
}

.darkness {
	.developer_food {
		background-color: #282c34;
		color: #bdbdbd;
	}
}
